MS.NET Technologies/WebApp/HelloServiceConsoleClient/Connected Services/MyFirstService/HelloService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="HelloService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IHelloService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8800/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8800/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHelloService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IHelloService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloService_message_InputMessage">
    <wsdl:part name="parameters" element="tns:message" />
  </wsdl:message>
  <wsdl:message name="IHelloService_message_OutputMessage">
    <wsdl:part name="parameters" element="tns:messageResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloService_Addnumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:Addnumbers" />
  </wsdl:message>
  <wsdl:message name="IHelloService_Addnumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddnumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="IHelloService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloService/DoWork" message="tns:IHelloService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloService/DoWorkResponse" message="tns:IHelloService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="message">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloService/message" message="tns:IHelloService_message_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloService/messageResponse" message="tns:IHelloService_message_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Addnumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloService/Addnumbers" message="tns:IHelloService_Addnumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloService/AddnumbersResponse" message="tns:IHelloService_Addnumbers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHelloService" type="tns:IHelloService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IHelloService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="message">
      <soap:operation soapAction="http://tempuri.org/IHelloService/message" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Addnumbers">
      <soap:operation soapAction="http://tempuri.org/IHelloService/Addnumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IHelloService" type="tns:IHelloService">
    <wsp:PolicyReference URI="#NetTcpBinding_IHelloService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="DoWork">
      <soap12:operation soapAction="http://tempuri.org/IHelloService/DoWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="message">
      <soap12:operation soapAction="http://tempuri.org/IHelloService/message" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Addnumbers">
      <soap12:operation soapAction="http://tempuri.org/IHelloService/Addnumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloService">
    <wsdl:port name="BasicHttpBinding_IHelloService" binding="tns:BasicHttpBinding_IHelloService">
      <soap:address location="http://localhost:8800/HelloService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IHelloService" binding="tns:NetTcpBinding_IHelloService">
      <soap12:address location="net.tcp://localhost:9000/HelloService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9000/HelloService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>PC\dell</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>